.login-form {
  border: 1px solid #e8f59e47;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #ebfa968a;

  button {
    background-color: white;
    border-color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: darken(#ebfa968a, 10%);
    }
  }
}
h4 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
