<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body></body>
  <footer>
    <section class="footer fs-5 text-light text-lg-start" id="footer">
      <div class="footer-container" id="footer">
        <div class="container footer-content">
          <div class="display-not-xxl">
            <div class="row">
              <div class="col-lg-3 mt-4 nav-mirror-display">
                <ul class="nav-mirror">
                  <li class="list-item mb-1">
                    <div class="li-box shadow-lg rounded">
                      <a routerLink="" class="ps-3">Home</a>
                    </div>
                  </li>
                  <li class="list-item mb-1">
                    <div class="li-box shadow rounded">
                      <a routerLink="discover" class="ps-3">Discover</a>
                    </div>
                  </li>
                  <li class="list-item mb-1">
                    <div class="li-box shadow rounded">
                      <a routerLink="profile" class="ps-3">Profile</a>
                    </div>
                  </li>
                  <li class="list-item mb-1">
                    <div class="li-box shadow rounded">
                      <a routerLink="store" class="ps-3">Store</a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-5 col-md-3 col-lg-3 p-3">
                <h4 class="text-dark mb-3">CONNECT</h4>
                <ul class="list-unstyled d-flex gap-2 m-0">
                  <li>
                    <span
                      class="ibox bg-light d-inline-flex align-items-center justify-content-center rounded-circle"
                      style="width: 28px; height: 28px"
                    >
                      <i
                        class="fa-brands fa-facebook fa-xl"
                        style="color: #84868b"
                      ></i>
                    </span>
                  </li>
                  <li>
                    <span
                      class="ibox bg-light d-inline-flex align-items-center justify-content-center rounded-circle"
                      style="width: 28px; height: 28px"
                    >
                      <i
                        class="fa-brands fa-reddit fa-xl"
                        style="color: #84868b"
                      ></i>
                    </span>
                  </li>
                  <li>
                    <span
                      class="ibox bg-light d-inline-flex align-items-center justify-content-center rounded-circle"
                      style="width: 28px; height: 28px"
                    >
                      <i
                        class="fa-brands fa-instagram fa-xl"
                        style="color: #84868b"
                      ></i>
                    </span>
                  </li>
                  <li>
                    <span
                      class="ibox bg-light d-inline-flex align-items-center justify-content-center rounded-circle"
                      style="width: 28px; height: 28px"
                    >
                      <i
                        class="fa-brands fa-discord fa-xl"
                        style="color: #84868b"
                      ></i>
                    </span>
                  </li>
                </ul>
              </div>
              <div class="col-4 col-md-3 col-lg-3 p-3 text-center">
                <h4 class="text-dark mb-3">COMPANY</h4>
                <ul class="list-unstyled fs-6">
                  <li>
                    <a
                      href=""
                      class="company-list-item text-dark text-decoration-none"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a
                      href=""
                      class="company-list-item text-dark text-decoration-none"
                      >Help</a
                    >
                  </li>
                  <li>
                    <a
                      href=""
                      class="company-list-item text-dark text-decoration-none"
                      >Privacy</a
                    >
                  </li>
                  <li>
                    <a
                      href=""
                      class="company-list-item text-dark text-decoration-none"
                      >Terms</a
                    >
                  </li>
                </ul>
              </div>
              <div
                class="col-3 col-md-6 col-lg-3 p-2 d-flex justify-content-center"
              >
                <div class="footer-logo">
                  <img src="../../../assets/BB-logo.svg" alt="bestbooks-logo" />
                </div>
              </div>
            </div>
            <div class="row label-container">
              <div class="col d-flex justify-content-start mt-5 mb-1">
                <div
                  class="col-3 rounded-5 text-center text-light label p-2 ms-2 ms-lg-5"
                >
                  2025 Alpha Team Project
                </div>
              </div>
            </div>
          </div>
          <div class="display-xxl">
            <div class="row">
              <div class="col-lg-3 mt-4 nav-mirror-display">
                <ul class="nav-mirror">
                  <li class="list-item mb-1">
                    <div class="li-box shadow-lg rounded">
                      <a routerLink="" class="ps-3">Home</a>
                    </div>
                  </li>
                  <li class="list-item mb-1">
                    <div class="li-box shadow rounded">
                      <a routerLink="discover" class="ps-3">Discover</a>
                    </div>
                  </li>
                  <li class="list-item mb-1">
                    <div class="li-box shadow rounded">
                      <a routerLink="profile" class="ps-3">Profile</a>
                    </div>
                  </li>
                  <li class="list-item mb-1">
                    <div class="li-box shadow rounded">
                      <a routerLink="store" class="ps-3">Store</a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-5 col-lg-3 p-3">
                <h4 class="text-dark mb-3">CONNECT</h4>
                <ul class="list-unstyled d-flex gap-2 m-0">
                  <li>
                    <span
                      class="ibox bg-light d-inline-flex align-items-center justify-content-center rounded-circle"
                      style="width: 28px; height: 28px"
                    >
                      <i
                        class="fa-brands fa-facebook fa-xl"
                        style="color: #84868b"
                      ></i>
                    </span>
                  </li>
                  <li>
                    <span
                      class="ibox bg-light d-inline-flex align-items-center justify-content-center rounded-circle"
                      style="width: 28px; height: 28px"
                    >
                      <i
                        class="fa-brands fa-reddit fa-xl"
                        style="color: #84868b"
                      ></i>
                    </span>
                  </li>
                  <li>
                    <span
                      class="ibox bg-light d-inline-flex align-items-center justify-content-center rounded-circle"
                      style="width: 28px; height: 28px"
                    >
                      <i
                        class="fa-brands fa-instagram fa-xl"
                        style="color: #84868b"
                      ></i>
                    </span>
                  </li>
                  <li>
                    <span
                      class="ibox bg-light d-inline-flex align-items-center justify-content-center rounded-circle"
                      style="width: 28px; height: 28px"
                    >
                      <i
                        class="fa-brands fa-discord fa-xl"
                        style="color: #84868b"
                      ></i>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row label-container">
              <div class="col-3 d-flex justify-content-start mt-5 mb-1">
                <div
                  class="rounded-5 text-center text-light label p-2 ms-2 ms-lg-5"
                >
                  2025 Alpha Team Project
                </div>
              </div>
              <div class="col-3 col-lg-3 p-3">
                <h4 class="text-dark mb-3">COMPANY</h4>
                <ul class="list-unstyled fs-6">
                  <li>
                    <a
                      href=""
                      class="company-list-item text-dark text-decoration-none"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a
                      href=""
                      class="company-list-item text-dark text-decoration-none"
                      >Help</a
                    >
                  </li>
                  <li>
                    <a
                      href=""
                      class="company-list-item text-dark text-decoration-none"
                      >Privacy</a
                    >
                  </li>
                  <li>
                    <a
                      href=""
                      class="company-list-item text-dark text-decoration-none"
                      >Terms</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</html>
