<section class="container-fluid bg-color p-5">
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <div class="d-felx justify-content-center py-3">
          <h5 class="fw-bold pb-3">Discover the power of books.</h5>
          <section class="clearfix fs-5">
            <img class="home-img" src="assets/homepage-decor1.png" alt="" />
            <p>
              They carry centuries of knowledge, imagination, and stories that
              inspire, teach, and comfort. Every book is more than words on a
              page—it’s a teacher, a companion, and a doorway to new worlds.
            </p>
            <p>
              Through reading, we explore distant places, encounter fresh
              perspectives, and connect with voices from both the past and the
              present. Books spark curiosity, nurture creativity, and remind us
              that we are never truly alone.
            </p>
            <p>Step inside, turn a page, and let the journey begin.</p>
          </section>
        </div>

        <button
          class="btn btn-outline-dark border border-dark border-2 fw-bold shadow m-3"
          routerLink="discover"
        >
          Begin your journey
        </button>
        <button
          class="btn btn-outline-dark border border-dark border-2 fw-bold shadow m-3"
          routerLink="registration-login"
        >
          Build your bookshelf
        </button>
      </div>
    </div>
    <hr class="border border-dark border-2 opacity-25" />
    <div class="row py-4 my-2">
      <div class="col text-center">
        <h1>Why books?</h1>
        <p class="fs-5">The magic of reading in four ways</p>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card h-100">
            <div class="d-flex justify-content-center pt-3">
              <img
                src="assets/learn&grow.png"
                class="card-img-top card-img"
                alt="..."
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Learn & Grow</h5>

              <p class="card-text">
                Books expand our knowledge and strengthen our minds. Every page
                is an opportunity to discover something new.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card h-100">
            <div class="d-flex justify-content-center pt-3">
              <div class="d-flex justify-content-center">
                <img
                  src="assets/escape&imagine.png"
                  class="card-img-top card-img"
                  alt="..."
                />
              </div>
            </div>

            <div class="card-body">
              <h5 class="card-title">Escape & Image</h5>
              <p class="card-text">
                Reading lets us travel beyond time and space, into worlds
                created by imagination and storytelling.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card h-100">
            <div class="d-flex justify-content-center pt-3">
              <img
                src="../../../assets/find-inspiration.png"
                class="card-img-top card-img"
                alt="..."
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Find Inspiration</h5>
              <p class="card-text">
                A line, a character, or an idea can spark creativity and give us
                new perspectives on life.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card h-100">
            <div class="d-flex justify-content-center pt-3">
              <img
                src="../../../assets/share-stories.png"
                class="card-img-top card-img"
                alt="..."
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">Share Stories</h5>
              <p class="card-text">
                Stories connect people across generations and cultures—reading
                unites us in our shared humanity.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
