.home-img {
  max-width: 400px;
  width: 100%;
  height: auto;
  float: right;
}
.bg-color {
  background-color: #edf3c9;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.card {
  box-shadow: 7px 9px 19px 0px #000000;
  background-color: #f2f2f2;
  .card-title {
    color: #2a4d14;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .card-text {
    color: #333333;
  }
  .card-body {
    height: 195px;
  }

  .card-img {
    display: block;
    width: 190px;
    height: 190px;
    transition: transform 0.4s ease;
  }
  &:hover {
    transform: scale(1.008);
  }
}

@media only screen and (max-width: 560px) {
  .home-img {
    width: 100%;
    height: auto;
    float: none;
    display: block;
    margin: 0 auto 1rem auto;
  }
}
