.book-carousel {
  position: relative;
  max-width: 900px;

  margin: 0 auto;
  padding: 20px 120px; // nyilaknak hely

  &__track {
    display: flex;
    gap: 16px;

    overflow-x: auto; // túlcsordulás esetén görgetés
    overflow-y: visible;

    padding: 18px 10px;

    scroll-behavior: smooth;
    scrollbar-width: none; // Firefox
    &::-webkit-scrollbar {
      display: none; // Chrome, Safari, Opera
    }
  }

  .book {
    flex: 0 0 180px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background: #dde7c7;

    border-radius: 12px;

    padding: 12px;
    text-align: center;

    img {
      width: 100%;
      aspect-ratio: 2 / 3;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 0.95rem;
      margin-bottom: 10px;
      min-height: 2.4em;
    }

    &__btn {
      border: none;
      background: #4f772d;
      color: #fff;
      font-weight: 600;
      padding: 10px;
      border-radius: 30px;
      cursor: pointer;
      width: 100%;
      &:hover {
        background: #2d462a;
      }
    }
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #4f772d;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    padding: 8px 20px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s ease;

    &:hover {
      background: #2d462a;
      transform: translateY(-50%) scale(1.1);
    }

    &--prev {
      left: 8px;
    }
    &--next {
      right: 8px;
    }
  }

  @media (max-width: 768px) {
    padding: 10px 70px;

    .book {
      flex: 0 0 140px;
      padding: 8px;

      &__btn {
        padding: 6px;
        font-size: 0.85rem;
      }
    }

    .book-carousel__nav {
      font-size: 1.2rem;
      padding: 6px 15px;
    }
  }
}
