.search-bar-container {
  padding-top: 3%;
  .input-group {
    width: 90%;
    .form-control {
      flex-basis: 80% !important;

      display: inline;

      border-radius: 20px !important;
      border-width: 2px;
    }

    .btn {
      background-color: #4f772d;
      color: white;
      
      &:hover {
        background: #2d462a;
      }
    }
  }
}

@media (max-width: 768px) {
  .search-bar-container {
    .input-group {
      width: 100%;
      .form-control {
        flex-basis: 70% !important;
      }
    }
  }
}
