.bg-color {
  background-color: #edf3c9;
}

.text-bg-color {
  background-color: rgba(255, 255, 255, 0.3);
}

//Modal
.description {
  max-height: 200px;
  overflow: hidden;
  font-size: 0.85rem;
}
.modal-content {
  color: #2d462a;
  background-color: #dde7c7;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: #dde7c7;
  color: #2d462a;
}

//FlipCard
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #dde7c7;
  color: #2d462a;
  border: solid #2d462a 3px;
  width: 258px;
  height: 392px;
}

.card-text {
  line-height: 0.5;
}

//Ratings

.ratings {
  max-height: 220px;
  font-size: 0.85rem;
  overflow: auto;
  text-align: justify;
}

.ratings .row {
  margin-right: 0;
  margin-left: 0;
}

// Dropdown

.dropdown-btn {
  background-color: #2d462a;
  color: #dde7c7;
}

.dropdown-menu a:hover {
  background-color: #dde7c7;
}
