.content {
  background-color: #dde7c7;
}
.banner {
  height: 310px;
  width: 80%;
  background: #376b53;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.banner img {
  max-height: 300px;

  @media (max-width: 1105px) {
    display: none;
  }
}

.banner span {
  text-shadow: 0 0 20px #b832fb, 0 0 16px #460450;
}

.favourite-content .card {
  width: 16rem;
  background-color: rgba(202, 234, 160, 0.5);
  border-style: double;
  border-width: 8px;

  h3 {
    text-align: center;
    color: whitesmoke;
    font-style: oblique;
    background-color: #abc226;
    border-radius: 4px;
  }
  @media (max-width: 1200px) {
    display: none;
  }
}

.text-content {
  font-size: xx-large;
  font-weight: bold;
  text-shadow: 2px 2px #969191;
  bottom: 0;
  text-align: center;
  animation: blink 5s alternate infinite;
}

.card,
.list-group-item {
  background-color: #dde7c7;
}

@keyframes blink {
  0% {
    color: rgb(57, 88, 53);
  }
  100% {
    color: rgb(253, 216, 165);
    transform: translateY(2rem);
  }
}

button {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  border: none;
  background-color: rgb(44, 128, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button .span-mother {
  display: flex;
  overflow: hidden;
}

button:hover .span-mother {
  position: absolute;
}

button:hover .span-mother span {
  transform: translateY(1.2em);
}

button .span-mother span:nth-child(1) {
  transition: 0.2s;
}

button .span-mother span:nth-child(2) {
  transition: 0.3s;
}

button .span-mother span:nth-child(3) {
  transition: 0.4s;
}

button .span-mother span:nth-child(4) {
  transition: 0.5s;
}

button .span-mother span:nth-child(5) {
  transition: 0.6s;
}

button .span-mother span:nth-child(6) {
  transition: 0.7s;
}

button .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

button .span-mother2 span {
  transform: translateY(-1.2em);
}

button:hover .span-mother2 span {
  transform: translateY(0);
}

button .span-mother2 span {
  transition: 0.2s;
}

button .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

button .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

button .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

button .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

button .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}

.filter-list input,
.filter-list button {
  width: 24rem;
  font-size: x-large;
  margin: 0.5rem;
}

.card-shadow {
  box-shadow: 10px 10px 10px #d1d9cb inset, -10px -10px 10px #69813d inset;
}

.cart-sidebar-container {
  position: sticky;
  top: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .cart-sidebar-container {
    position: static;
    margin-top: 30px;
  }
}
